* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.slider-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}
.slide-item {
    position: relative;
}
.slide-item .nav-text {
    position: absolute;
    left: 15px;
    top: 15px;
    padding:20px 12px;
    color: #f2f2f2;
    font-size: 18px;
}
.text {
    color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 24px;
    text-align: center;
}
.slide-item img {
    max-width: 100%;
}

.slide-dots {
    text-align: center;
}

.dot {
    height: 14px;
    width: 14px;
    display: inline-block;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
    transition: 300ms;
}

.dot.active, .dot:hover {
    background: #000;
}

.navigation > i {
    position: absolute;
    left: 0;
    top:50%;
    margin-top:-25px;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
}

.navigation > i.nav-next {
    left: auto;
    right: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fade {
    from {opacity: .47}
    to {opacity: 1}
}